.container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.getData {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    flex: 1;
}

.getData input,
select {
    width: 300px;
    margin: 10px 0px 10px 0px;
    border-color: blueviolet;
    border-width: 2px;
    padding: 2px;
}

.getData label, strong {
    color: red;
}

.viewData {
    display: flex;
    flex-flow: wrap column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.viewData img {
    width: 500px;
    height: 300px;
}