.container{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.select{
    background-color: transparent;
    border: none;
    color: white;
    width: 150px;
    height: 20px;
    text-align: center;
    text-align: left;
    border-left: 6px solid #FD3084;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.select option {
    background-color: #1a1a1a;
    color: white;
  }
  