.body {
    display: flex;
    flex-flow: wrap row;
    background-color: #000000;
}

.bar {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    margin: 20px;
}

.viewCards {
    background-color: transparent;
}