.container {
    width: 95vw;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
    position: sticky;
    margin: 25px;
    top: 0;
    opacity: 0.9;
    z-index: 1;
}

.link {
    padding: 4px 8px 4px 8px;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-family: 'Press Start 2P', cursive;
    border-radius: 12px;
    margin: 10px;
    color: #fff6fb;
    text-shadow: -2px 2px 5px #FD3084;
    background-color: transparent;
    border: 2px solid #FEB1DE;
    box-shadow: 0 0 0px 1px #F11271,
        0 0 10px 2px #FD3084,
        inset 0 0 0px 1px #F11271,
        inset 0 0 10px 2px #FD3084;
    transition: 100ms;
    text-decoration: none;
}

.link:hover {
    box-shadow: 0 0 0px 1px #F11271,
        0 0 10px 2px #FD3084,
        inset 0 0 0px 1px #F11271,
        inset 0 0 30px 2px #FD3084;
    text-shadow: 0 0 10px #FD3084;
    transform: translateY(-2px);
}

.link:active {
    box-shadow: 0 0 0px 1px #F11271,
        0 0 25px 2px #FD3084,
        inset 0 0 0px 1px #F11271,
        inset 0 0 30px 2px #FD3084;
    transform: translateY(1px);
}