
.container {
    width: 100%;
    display: flex;
    flex-flow: wrap row ;
    align-items: center;
    justify-content: space-around; 
    background-color: violet;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    min-width: 200px;
}