.container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.select {
    background-color: transparent;
    border: none;
    color: white;
    width: auto;
    height: 20px;
    text-align: right;
    border-right: 6px solid #FD3084;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select option {
    background-color: #1a1a1a;
    color: white;
}